<h4 class="text-center">Register</h4>

<form
  [formGroup]="newUserForm"
  class="form mt-4"
  (submit)="register()">
  <div class="form-group">
    <input
      formControlName="email"
      name="email"
      type="email"
      class="form-control"
      placeholder="email">
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.required && newUserForm.get('email')?.touched"
      message="email is required!">
    </app-message>
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.email"
      message="format invalid!">
    </app-message>
  </div>
  <div class="form-group">
    <input
      formControlName="fullName"
      type="text"
      class="form-control"
      placeholder="fullname">
    <app-message
      *ngIf="newUserForm.get('fullName')?.errors?.required && newUserForm.get('fullName')?.touched"
      message="fullname is required!">
    </app-message>
  </div>
  <div class="form-group">
    <input
      formControlName="userName"
      type="text"
      class="form-control"
      placeholder="username">
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.required && newUserForm.get('userName')?.touched"
      message="username is required!">
    </app-message>
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.lowercase && newUserForm.get('userName')?.touched"
      message="username must be lowercase!">
    </app-message>
  </div>
  <div class="form-group">
    <input
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="password">
    <app-message
      *ngIf="newUserForm.get('password')?.errors?.required && newUserForm.get('password')?.touched"
      message="password is required!">
    </app-message>
  </div>

  <button
    [disabled]="newUserForm.invalid || newUserForm.pending"
    type="submit"
    class="btn btn-primary btn-block">
    Login
  </button>
</form>
<p>Already a user? <a [routerLink]="['']">Sign in!</a></p>

